# Midterm Project CS675 Scaleable Database


 
### Analyzing New York City Data utilizing SQL, Python, and Version Control


## Project Overview

**The main goal of this project is to analyze three NYPD datasets to gain insights about public safety in New York City. Data Science tools such Python, SQL, and Git to clean, retrieve, and analyze data on the following dataset**




**Project Goal**: - The end goal is to uncover patterns and trends that can help law enforcement and policymakers make data-driven decisions and keep New York City residence safety and reduce the crime

#### Data Sets use for this project __(https://catalog.data.gov/dataset)__

1. NYPD Hatecrime
2. NYPD Shooting
3. NYPD Arrest

### Team Members: Nuzhut Prova, Ramaya and Sunita Inderjit, Srikant Reddy

## Part 2


1. Load three dataset from New York City
2. Merge All three dataset
3. Perfrom SQL query using Sqlite database

# NYPD Arrest Data

In [3]:
# import the necessary Libraries

import pandas as pd
import numpy as np

In [4]:
# Read in and view data

arrest = pd.read_csv("NYPD_Arrest_Data__Year_to_Date_.csv")

arrest.head()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,261209118,01/01/2023,109,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200501,F,K,77,0,45-64,F,BLACK,999335,186085,40.677426,-73.945615,POINT (-73.945615 40.677426)
1,262984267,02/03/2023,515,"CONTROLLED SUBSTANCE,SALE 3",117.0,DANGEROUS DRUGS,PL 2203901,F,K,73,0,25-44,M,BLACK,1009318,178259,40.655923,-73.909650,POINT (-73.90965 40.655923)
2,263664549,02/15/2023,105,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,K,62,0,25-44,M,WHITE,982272,158771,40.602468,-74.007120,POINT (-74.00712 40.602468)
3,261345231,01/04/2023,105,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,M,32,0,25-44,M,BLACK,999899,238684,40.821797,-73.943457,POINT (-73.943457 40.821797)
4,263536618,02/13/2023,109,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 12005WX,F,K,71,0,25-44,M,BLACK,1001437,183080,40.669175,-73.938042,POINT (-73.938042 40.669175)

In [5]:
# shape of data

arrest.shape

(170095, 19)

In [6]:
# names of columns

arrest.columns

Index(['ARREST_KEY', 'ARREST_DATE', 'PD_CD', 'PD_DESC', 'KY_CD', 'OFNS_DESC',
       'LAW_CODE', 'LAW_CAT_CD', 'ARREST_BORO', 'ARREST_PRECINCT',
       'JURISDICTION_CODE', 'AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'X_COORD_CD',
       'Y_COORD_CD', 'Latitude', 'Longitude', 'New Georeferenced Column'],
      dtype='object')

In [7]:

# Drop columns 
drop_cols = ['X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude', 'LAW_CODE']
arrest.drop(columns=drop_cols, inplace=True)

# Rename column
arrest.rename(columns={'ARREST_KEY':'ID'}, inplace=True)

print(arrest.columns)

Index(['ID', 'ARREST_DATE', 'PD_CD', 'PD_DESC', 'KY_CD', 'OFNS_DESC',
       'LAW_CAT_CD', 'ARREST_BORO', 'ARREST_PRECINCT', 'JURISDICTION_CODE',
       'AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'New Georeferenced Column'],
      dtype='object')

In [8]:
# After Drop and rename column, here is view of new dataframe
arrest.head()

,ID,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,New Georeferenced Column
0,261209118,01/01/2023,109,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,F,K,77,0,45-64,F,BLACK,POINT (-73.945615 40.677426)
1,262984267,02/03/2023,515,"CONTROLLED SUBSTANCE,SALE 3",117.0,DANGEROUS DRUGS,F,K,73,0,25-44,M,BLACK,POINT (-73.90965 40.655923)
2,263664549,02/15/2023,105,STRANGULATION 1ST,106.0,FELONY ASSAULT,F,K,62,0,25-44,M,WHITE,POINT (-74.00712 40.602468)
3,261345231,01/04/2023,105,STRANGULATION 1ST,106.0,FELONY ASSAULT,F,M,32,0,25-44,M,BLACK,POINT (-73.943457 40.821797)
4,263536618,02/13/2023,109,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,F,K,71,0,25-44,M,BLACK,POINT (-73.938042 40.669175)

In [9]:
arrest.shape

(170095, 14)

# NYPD Shooting

In [10]:
# Read in and view Dataframe

shoot =pd.read_csv("NYPD_Shooting_Incident_Data__Historic_.csv")

shoot.head()

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,LOC_OF_OCCUR_DESC,PRECINCT,JURISDICTION_CODE,LOC_CLASSFCTN_DESC,LOCATION_DESC,STATISTICAL_MURDER_FLAG,...,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
0,228798151,05/27/2021,21:30:00,QUEENS,NaN,105,0.0,NaN,NaN,False,...,NaN,NaN,18-24,M,BLACK,1.058925e+06,180924.000000,40.662965,-73.730839,POINT (-73.73083868899994 40.662964620000025)
1,137471050,06/27/2014,17:40:00,BRONX,NaN,40,0.0,NaN,NaN,False,...,NaN,NaN,18-24,M,BLACK,1.005028e+06,234516.000000,40.810352,-73.924942,POINT (-73.92494232599995 40.81035186300006)
2,147998800,11/21/2015,03:56:00,QUEENS,NaN,108,0.0,NaN,NaN,True,...,NaN,NaN,25-44,M,WHITE,1.007668e+06,209836.531250,40.742607,-73.915492,POINT (-73.91549174199997 40.74260663300004)
3,146837977,10/09/2015,18:30:00,BRONX,NaN,44,0.0,NaN,NaN,False,...,NaN,NaN,<18,M,WHITE HISPANIC,1.006537e+06,244511.140625,40.837782,-73.919457,POINT (-73.91945661499994 40.83778200300003)
4,58921844,02/19/2009,22:58:00,BRONX,NaN,47,0.0,NaN,NaN,True,...,M,BLACK,45-64,M,BLACK,1.024922e+06,262189.406250,40.886238,-73.852910,POINT (-73.85290950899997 40.88623791800006)

In [11]:
shoot.columns

Index(['INCIDENT_KEY', 'OCCUR_DATE', 'OCCUR_TIME', 'BORO', 'LOC_OF_OCCUR_DESC',
       'PRECINCT', 'JURISDICTION_CODE', 'LOC_CLASSFCTN_DESC', 'LOCATION_DESC',
       'STATISTICAL_MURDER_FLAG', 'PERP_AGE_GROUP', 'PERP_SEX', 'PERP_RACE',
       'VIC_AGE_GROUP', 'VIC_SEX', 'VIC_RACE', 'X_COORD_CD', 'Y_COORD_CD',
       'Latitude', 'Longitude', 'Lon_Lat'],
      dtype='object')

In [12]:
# Drop columns 
drop_cols = ['X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude', 'Lon_Lat','JURISDICTION_CODE']
shoot.drop(columns=drop_cols, inplace=True)

# Rename column
shoot.rename(columns={'INCIDENT_KEY':'ID'}, inplace=True)

print(shoot.columns)

Index(['ID', 'OCCUR_DATE', 'OCCUR_TIME', 'BORO', 'LOC_OF_OCCUR_DESC',
       'PRECINCT', 'LOC_CLASSFCTN_DESC', 'LOCATION_DESC',
       'STATISTICAL_MURDER_FLAG', 'PERP_AGE_GROUP', 'PERP_SEX', 'PERP_RACE',
       'VIC_AGE_GROUP', 'VIC_SEX', 'VIC_RACE'],
      dtype='object')

In [13]:
shoot.shape

(27312, 15)

In [14]:
#view of dataframe after drop and rename col

shoot.head()

,ID,OCCUR_DATE,OCCUR_TIME,BORO,LOC_OF_OCCUR_DESC,PRECINCT,LOC_CLASSFCTN_DESC,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE
0,228798151,05/27/2021,21:30:00,QUEENS,NaN,105,NaN,NaN,False,NaN,NaN,NaN,18-24,M,BLACK
1,137471050,06/27/2014,17:40:00,BRONX,NaN,40,NaN,NaN,False,NaN,NaN,NaN,18-24,M,BLACK
2,147998800,11/21/2015,03:56:00,QUEENS,NaN,108,NaN,NaN,True,NaN,NaN,NaN,25-44,M,WHITE
3,146837977,10/09/2015,18:30:00,BRONX,NaN,44,NaN,NaN,False,NaN,NaN,NaN,<18,M,WHITE HISPANIC
4,58921844,02/19/2009,22:58:00,BRONX,NaN,47,NaN,NaN,True,25-44,M,BLACK,45-64,M,BLACK

# NYPD Hate Crime

In [15]:
# Read in and view dataframe

hate = pd.read_csv("NYPD_Hate_Crimes.csv")
hate.head()

,Full Complaint ID,Complaint Year Number,Month Number,Record Create Date,Complaint Precinct Code,Patrol Borough Name,County,Law Code Category Description,Offense Description,PD Code Description,Bias Motive Description,Offense Category,Arrest Date,Arrest Id
0,201904612204817,2019,2,02/08/2019,46,PATROL BORO BRONX,BRONX,FELONY,FELONY ASSAULT,"ASSAULT 2,1,UNCLASSIFIED",ANTI-MALE HOMOSEXUAL (GAY),Sexual Orientation,02/08/2019,B31678218
1,201904812229517,2019,3,03/09/2019,48,PATROL BORO BRONX,BRONX,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,ANTI-WHITE,Race/Color,03/09/2019,B31682790
2,201904812231317,2019,3,03/10/2019,48,PATROL BORO BRONX,BRONX,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,ANTI-WHITE,Race/Color,03/09/2019,B31682806
3,201904812226617,2019,3,03/08/2019,48,PATROL BORO BRONX,BRONX,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,ANTI-WHITE,Race/Color,03/09/2019,B31682806
4,201904212405517,2019,5,05/11/2019,42,PATROL BORO BRONX,BRONX,FELONY,ROBBERY,"ROBBERY,POCKETBOOK/CARRIED BAG",ANTI-MUSLIM,Religion/Religious Practice,05/10/2019,B31692174

In [16]:
# columms name

hate.columns

Index(['Full Complaint ID', 'Complaint Year Number', 'Month Number',
       'Record Create Date', 'Complaint Precinct Code', 'Patrol Borough Name',
       'County', 'Law Code Category Description', 'Offense Description',
       'PD Code Description', 'Bias Motive Description', 'Offense Category',
       'Arrest Date', 'Arrest Id'],
      dtype='object')

In [17]:
# Drop columns 
drop_cols = ['Arrest Id']
hate.drop(columns=drop_cols, inplace=True)

# Rename column
hate.rename(columns={'Full Complaint ID':'ID'}, inplace=True)

print(hate.columns)

Index(['ID', 'Complaint Year Number', 'Month Number', 'Record Create Date',
       'Complaint Precinct Code', 'Patrol Borough Name', 'County',
       'Law Code Category Description', 'Offense Description',
       'PD Code Description', 'Bias Motive Description', 'Offense Category',
       'Arrest Date'],
      dtype='object')

In [18]:
hate.shape

(2247, 13)

In [19]:
hate.head()

,ID,Complaint Year Number,Month Number,Record Create Date,Complaint Precinct Code,Patrol Borough Name,County,Law Code Category Description,Offense Description,PD Code Description,Bias Motive Description,Offense Category,Arrest Date
0,201904612204817,2019,2,02/08/2019,46,PATROL BORO BRONX,BRONX,FELONY,FELONY ASSAULT,"ASSAULT 2,1,UNCLASSIFIED",ANTI-MALE HOMOSEXUAL (GAY),Sexual Orientation,02/08/2019
1,201904812229517,2019,3,03/09/2019,48,PATROL BORO BRONX,BRONX,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,ANTI-WHITE,Race/Color,03/09/2019
2,201904812231317,2019,3,03/10/2019,48,PATROL BORO BRONX,BRONX,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,ANTI-WHITE,Race/Color,03/09/2019
3,201904812226617,2019,3,03/08/2019,48,PATROL BORO BRONX,BRONX,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,ANTI-WHITE,Race/Color,03/09/2019
4,201904212405517,2019,5,05/11/2019,42,PATROL BORO BRONX,BRONX,FELONY,ROBBERY,"ROBBERY,POCKETBOOK/CARRIED BAG",ANTI-MUSLIM,Religion/Religious Practice,05/10/2019

In [20]:
# set ID as index for each dataframe

arrest = arrest.set_index('ID')
shoot = shoot.set_index('ID') 
hate = hate.set_index('ID')

In [21]:
# Join arrest and shoot on id index with suffixes to handle duplicate columns

df = arrest.join(shoot, lsuffix='_arrest', rsuffix='_shoot')

In [22]:
# Join result with hatecrime dataframe

df = df.join(hate)

In [23]:
df.head()

,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,...,Record Create Date,Complaint Precinct Code,Patrol Borough Name,County,Law Code Category Description,Offense Description,PD Code Description,Bias Motive Description,Offense Category,Arrest Date
ID,,,,,,,,,,,,,,,,,,,,,
261180920,01/01/2023,244,"BURGLARY,UNCLASSIFIED,UNKNOWN",107.0,BURGLARY,F,K,75,0,18-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261180925,01/01/2023,494,"STOLEN PROPERTY 2,1,POSSESSION",111.0,POSSESSION OF STOLEN PROPERTY,F,Q,107,0,25-44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261181238,01/01/2023,779,"PUBLIC ADMINISTRATION,UNCLASSI",126.0,MISCELLANEOUS PENAL LAW,F,K,79,0,25-44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261181240,01/01/2023,779,"PUBLIC ADMINISTRATION,UNCLASSI",126.0,MISCELLANEOUS PENAL LAW,F,K,79,0,25-44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261181242,01/01/2023,109,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,F,K,79,0,25-44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# New shape after joining all three dataframes

df.shape

(170095, 39)

In [25]:
df.columns

Index(['ARREST_DATE', 'PD_CD', 'PD_DESC', 'KY_CD', 'OFNS_DESC', 'LAW_CAT_CD',
       'ARREST_BORO', 'ARREST_PRECINCT', 'JURISDICTION_CODE', 'AGE_GROUP',
       'PERP_SEX_arrest', 'PERP_RACE_arrest', 'New Georeferenced Column',
       'OCCUR_DATE', 'OCCUR_TIME', 'BORO', 'LOC_OF_OCCUR_DESC', 'PRECINCT',
       'LOC_CLASSFCTN_DESC', 'LOCATION_DESC', 'STATISTICAL_MURDER_FLAG',
       'PERP_AGE_GROUP', 'PERP_SEX_shoot', 'PERP_RACE_shoot', 'VIC_AGE_GROUP',
       'VIC_SEX', 'VIC_RACE', 'Complaint Year Number', 'Month Number',
       'Record Create Date', 'Complaint Precinct Code', 'Patrol Borough Name',
       'County', 'Law Code Category Description', 'Offense Description',
       'PD Code Description', 'Bias Motive Description', 'Offense Category',
       'Arrest Date'],
      dtype='object')

In [26]:
from ydata_profiling import ProfileReport

In [27]:
profile = ProfileReport(df, title="Profiling Report")

In [28]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

# Using Sqlite3  to execute SQL queries

In [77]:
# Import libaries

import sqlite3

In [78]:
# Create connection

cnn = sqlite3.connect('midterm_project.db')

In [65]:
# name table 

df.to_sql('Project1',cnn)

170095

In [79]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [80]:
%sql sqlite:///midterm_project.db

In [81]:
%%sql
select count(*)
From Project

 * sqlite:///midterm_project.db
Done.

[(170095,)]

In [82]:
%%sql
select Distinct OFNS_DESC
From Project
limit 10;

 * sqlite:///midterm_project.db
Done.

[('BURGLARY',),
 ('POSSESSION OF STOLEN PROPERTY',),
 ('MISCELLANEOUS PENAL LAW',),
 ('FELONY ASSAULT',),
 ('CRIMINAL MISCHIEF & RELATED OF',),
 ('DANGEROUS WEAPONS',),
 ('DANGEROUS DRUGS',),
 ('SEX CRIMES',),
 ('VEHICLE AND TRAFFIC LAWS',),
 ('ASSAULT 3 & RELATED OFFENSES',)]

In [83]:
%%sql

select Distinct County
From Project

 * sqlite:///midterm_project.db
Done.

[(None,)]

In [84]:
%%sql

select Distinct AGE_GROUP
From Project

 * sqlite:///midterm_project.db
Done.

[('18-24',), ('25-44',), ('45-64',), ('<18',), ('65+',)]

In [85]:
%%sql
select Distinct Boro
From Project

 * sqlite:///midterm_project.db
Done.

[(None,)]

In [86]:
%%sql
select Distinct PD_DESC
From Project
limit 10

 * sqlite:///midterm_project.db
Done.

[('BURGLARY,UNCLASSIFIED,UNKNOWN',),
 ('STOLEN PROPERTY 2,1,POSSESSION',),
 ('PUBLIC ADMINISTRATION,UNCLASSI',),
 ('ASSAULT 2,1,UNCLASSIFIED',),
 ('CRIMINAL MIS 2 & 3',),
 ('CRIMINAL POSSESSION WEAPON',),
 ('CONTROLLED SUBSTANCE, POSSESSI',),
 ('SEXUAL ABUSE 3,2',),
 ('STRANGULATION 1ST',),
 ('CONTROLLED SUBSTANCE,INTENT TO',)]

In [88]:
%%sql

SELECT DISTINCT ARREST_BORO
FROM PROJECT
LIMIT 10

 * sqlite:///midterm_project.db
Done.

[('K',), ('Q',), ('M',), ('B',), ('S',)]

## Challenges

1. Finding the common columns to join on
2. Null values after join dataframe
3. Incorrect data type
4. Misspelling